{% comment %} {% if vehicles_all %}
    <ul>
    {% for v in vehicles_all %}
        <li>{{ v.plate }}</li>
      {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} {% endcomment %}
<script type="text/javascript"> 
  function post() {

    const customer_id = document.getElementById('id').value ;

    const form = document.createElement('form');
    form.method = 'get';
    form.action = 'list_customer/' + customer_id;  
    document.body.appendChild(form);
    form.submit();
  }
  
</script>

<div>
  👤
  <a href="{% url 'vehicles:customerForm' %}">Criar Usuário</a>
  <a href="{% url 'vehicles:listCustomer' %}">Ver todos usuários</a>
  <div>
    <br>
    <span> Pesquisar por um usuário específico</span> <br>
    <input id="id" placeholder="Digite o id" name="customer_id" required/>
    <button onclick="post()" >Buscar</button> 
  </div>

</div>
<br>
<div>
  🚗
  <a href="{% url 'vehicles:vehicleForm' %}">Criar Veículo</a>
  <a href="{% url 'vehicles:listVehicle' %}">Ver todos veículo</a>
  <div>
    <br>
    <form action="{% url 'vehicles:searchVehicle' %}" method="GET">
      {% comment %} {% csrf_token %} {% endcomment %}
      <span> Pesquisar por um veículo específico</span> <br>

        <input placeholder="Id do dono" name="customer_id"/>
        ou
        <input placeholder="Placa do carro" name="plate"/>
    <br>
      <input type="submit" >
    </form>

  </div>

</div>
<style>
  div{
    padding: 20px 20px;
  }
  
  input{
    margin-top: 5px;
  }
  

  a, input, button{
    background-color: rgb(255, 133, 133);
    color: white;
    padding: 10px 20px;
    border: none;
    placeholder: black;
    border-radius: 10px;
    
  }

  ::placeholder {
    color: black;
  }


  ul{
    margin-top: 10px;
  }
  li{
    background-color: rgb(255, 133, 133);
    padding: 10px 20px ;
    border-radius: 10px;
    margin-top: 10px;
  }
  a{
    text-decoration: none;
    font-weight: bold;
  }
</style>